BasedOnStyle: LLVM
AlignAfterOpenBracket: Align
AlignOperands: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
BreakBeforeBraces: Attach
ColumnLimit: 160
ContinuationIndentWidth: 4
IndentCaseLabels: true
IndentWidth: 4
Language: Cpp
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PointerAlignment: Right
SortIncludes: true
SpaceBeforeParens: ControlStatements
Standard: Auto
TabWidth: 4
UseTab: Always
